/* Global */
$font-stack: arial, serif;
$font-color: #000;
$reverse-font-color: #fff;
$font-size: 1rem;
$font-size-smaller: 0.9rem;

$background-color: #fff;

$link-color: #fff;
$link-decoration: none;
$link-hover-color: #fff;
$link-hover-decoration: none;

$default-border: 1px;
$default-border-color: #000;
$default-border-radius: 3px;
$default-padding: 5px;

/* Content Container */
$content-container-padding: $default-padding;
$content-container-color: $reverse-font-color;

/* Content box */
$content-box-background-color: $background-color;
$content-box-border: $default-border;
$content-box-border-color: $default-border-color;
$content-box-margin: $default-padding;
$content-box-padding: $default-padding;
$content-box-font-size: $font-size;
$content-box-font-color: $font-color;

$content-border-color: #b7b7b7;
$content-borderlight-color: #dddddd;
$content-background-color: #f5f5ff;

/* Navigation */
$nav-top-background-color: #000;
$nav-top-font-color: $reverse-font-color;
$nav-top-padding: 3px;

$nav-side-background-color: $nav-top-background-color;
$nav-side-font-color: $nav-top-font-color;
$nav-side-padding: $nav-top-padding;

$nav-main-background-color: $nav-side-background-color;
$nav-main-font-color: $nav-side-font-color;
$nav-main-padding: $nav-top-padding;

$nav-contentside-background-color: $nav-side-background-color;
$nav-contentside-font-color: $nav-side-font-color;
$nav-contentside-padding: $nav-top-padding;

/* Colors */
$red: #f00;
$green: #0f0;
$blue: #00f;
$yellow: #ff0;
$white: #fff;
$black: #000;
$pink: #f0f;
$purple: #7D26CD;

/* Accordion */
$accordion-margin-top-bottom: 10px;
$accordion-margin-left-right: 30px;

$accordion-border-size: $default-border;
$accordion-border-color: $default-border-color;

// Label
$accordion-padding-top-bottom: $default-padding;
$accordion-padding-left-right: 20px;
$accordion-font-size: $font-size;

$accordion-inactive-color-start: #e0e3eb;
$accordion-inactive-color-end: #f5f5ff;
$accordion-inactive-background: #f5f5ff;
$accordion-inactive-foreground: #777;

$accordion-active-color-start: #fff;
$accordion-active-color-end: #fff;
$accordion-active-background: $content-box-background-color;
$accordion-active-foreground: $font-color;

$accordion-hover-color-start: #fff;
$accordion-hover-color-end: #fff;
$accordion-hover-background: $content-box-background-color;

$accordion-border-radius: $default-border-radius;

// Content
$accordion-padding: 10px;

/* Log */
$log-padding: $default-padding;
$log-margin: 5px;
$log-border: 2px;

/* Blockquote */
$blockquote-padding: 10px;
$blockquote-background: $content-box-background-color;

$blockquote-border: $default-border;
$blockquote-border-color: $default-border-color;
$blockquote-border-radius: $default-border-radius;

/* Breadcrumbs */
$breadcrumb-font-size: 12px;
$breadcrumb-padding: 10px;

$breadcrumb-border: $default-border;
$breadcrumb-border-radius: $default-border-radius;
$breadcrumb-border-color: $default-border-color;

$breadcrumb-inactive-background: $content-background-color;
$breadcrumb-active-background: $content-box-background-color;

/* Input */
$input-border: $default-border;
$input-border-color: $default-border-color;
$input-invalid-border-color: #b85450;
$input-background: $background-color;
$input-font-size: $font-size;
$input-color: $font-color;
$input-placeholder-color: #cfcfcf;

/* Button */
$button-border: $default-border;
$button-border-color: $default-border-color;
$button-background: #f1f1f1;
$button-active-background: #d6d6d6;
$button-font-size: $font-size-smaller;
$button-height: 2rem;
$button-min-width: 70px;
$button-padding: $default-padding;

// Breadcrumb buttons
$button-crumb-font-size: 12px;
$button-crumb-background: #f5f5ff;
$button-crumb-active-background: $content-box-background-color;
$button-crumb-padding: 10px;

/* Canvas */
$canvas-background: $content-box-background-color;
$canvas-border: $default-border;
$canvas-border-color: $default-border-color;

/* Article */
$article-background: $content-box-background-color;
$article-padding: $default-padding;
$article-link-color: #8ea4ff;

$article-table-border: $default-border;
$article-table-border-color: #999;
$article-even-background: #eee;

/* Form */
$form-label-size: $font-size-smaller;

/* Icon */
$icon-font-color: $reverse-font-color;
$icon-font-size: $font-size-smaller;

/* Img */
$img-padding: $default-padding;
$img-border: $default-border;
$img-border-color: $default-border-color;
$img-background: $content-box-background-color;
$img-border-radius: $default-border-radius;

/* list */
$list-padding: $default-padding;
$list-background: $background-color;

$list-border-radius: $default-border-radius;
$list-border: $default-border;
$list-border-color: $default-border-color;

/* pagination */
$pagination-border-radius: $default-border-radius;
$pagination-active-color: $reverse-font-color;
$pagination-active-background: #353535;

/* pre */
$pre-background: $background-color;
$pre-border-radius: $default-border-radius;
$pre-border: $default-border;
$pre-border-color: $default-border-color;
$pre-padding: $default-padding;

/* tag */
$tag-border:  $default-border;
$tag-border-color: $default-border-color;
$tag-color: $reverse-font-color;
$tag-font-size: 0.7rem;