.ac-container {
    text-align: left;
    border: 1px solid #c9c9c9;

    > input {
        display: none;

        &:checked + label {
            background: var(--button-colored-background);
            color: var(--text-on-background-color-2);

            + section {
                display: inherit;
            }

            &:hover {
                background: var(--button-colored-background-hover);
            }
        }

        + label + section {
            display: none;
        }
    }

    label {
        display: block;
        padding: 1rem 1rem;
        position: relative;
        z-index: 20;
        margin-top: -1px;
        cursor: pointer;
        color: #000;
        font-size: 1rem;
        background: var(--box-border);

        &:hover {
            color: var(--text-on-background-color-2);
            background: var(--button-colored-background-hover);
        }
    }

    > section {
        background: #fff;
        overflow: hidden;
        height: auto;
        position: relative;
        z-index: 10;
        padding: 1rem;
    }
}

.more-container {
    > label {
        width: 100%;
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid var(--box-border);
        cursor: pointer;
        color: var(--link-color);
        user-select: none;

        .expand {
            transition: all .3s ease;
            transform: rotateZ(0deg);
        }

        span {
            flex-grow: 1;
        }

        i {
            flex-grow: 0;
        }
    }

    > input {
        display: none;
    }

    > input {
        &:checked {
            + label {
                border-bottom: none;
                margin-bottom: 1rem;

                .expand {
                    transition: all .3s ease;
                    transform: rotateZ(90deg);
                }
            }

            ~ div {
                display: block;
            }
        }
    }

    > div {
        display: none;
    }
}