

.ac-container{
    margin: 1rem auto 1rem auto;
    text-align: left;

    > input {
        display: none;

        &:checked + label {
            background: var(--button-colored-background);
            color: var(--text-on-background-color-2);

            + section {
                display: inherit;
            }
        }

        + label + section {
            display: none;
        }
    }

    label {
        display: block;
        padding: 1rem 1rem;
        position: relative;
        z-index: 20;
        margin-top: -1px;
        cursor: pointer;
        color: var(--text-on-background-color-2);
        font-size: 1rem;
        border: 1rem solid var(--box-border);
        background: var(--box-border);

        &:hover {
            background: var(--button-colored-background-hover);
        }
    }

    > section {
        background: #fff;
        overflow: hidden;
        height: auto;
        position: relative;
        z-index: 10;
        border-left: 1rem solid var(--box-border);
        border-right: 1rem solid var(--box-border);
        padding: 1rem;
    }
}
