@import "_mixins", "_vars";

article {
    background: $article-background;
    padding: 10px;
    margin: 0;
    font-size: 0.9rem;

    h1, h2, h3, h4, h5, h6 {
        font-weight: bold;
        //padding-bottom: 1rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.3rem;
    }

    h3 {
        font-size: 1.1rem;
    }

    h4, h5, h6 {
        font-size: 1rem;
    }

    pre {
        margin: 1rem 0 1rem 0;

        code {
            background: none;
        }
    }

    code {
        padding: 3px;
        background: #f1f1f1;
    }

    a {
        color: $article-link-color;
        border-bottom: 1px dotted $article-link-color;
    
        &:hover {
            border-bottom: none;
        }
    }

    p {
        line-height: 1.5em;
    }

    ol, ul {
        margin: 0.5rem 0 0.5rem 3rem;
    }

    ul {
        list-style: disc;
    }

    li {
        margin: 0.3rem 0 0.3rem 0;
    }

    blockquote {
        margin: 10px 0 10px 0;

        p:last-child {
            margin-bottom: 0;
        }
    }

    img {
        display: block;
        margin: 0 auto;
    }

    table {
        border-collapse: collapse;
        border: $article-table-border solid $article-table-border-color;
        margin: 0 auto;
        margin-bottom: 1rem;

        th, td {
            padding: 5px;
            border: $article-table-border solid $article-table-border-color;
        }

        tr:nth-child(2n) {
            background: $article-even-background;
        }
    }
}