.portlet-body > article {
    padding: 0;
}

article {
    background: var(--article-bg);
    padding: 10px;
    margin: 0;
    font-size: .9rem;
    color: var(--article-c);
    line-height: 2rem;
    white-space: normal;

    .mermaid {
        text-align: center;
    }

    del, ins, mark {
        padding: 3px;
        text-decoration: none;
    }

    pre {
        margin: 1rem 0 1rem 0;
    }

    .tag {
        margin: 0.1rem;
    }

    del {
        background: var(--red1-c);
    }

    ins {
        background: var(--green1-c);
    }

    mark {
        background: var(--yellow1-c);
    }

    h1, h2, h3, h4, h5, h6 {
        font-weight: 300;
        //padding-bottom: 1rem;
    }

    h1 {
        font-size: 1.4rem;
    }

    h2 {
        font-size: 1.3rem;
    }

    h3 {
        font-size: 1.1rem;
    }

    h4, h5, h6 {
        font-size: 1rem;
    }

    p {
        line-height: 1.5em;
    }

    ol, ul {
        list-style-position: outside;
        margin: 0.5rem 0 0.5rem 3rem;
        line-height: 1rem;
    }

    ul {
        list-style: disc;
    }

    li {
        margin: 0.3rem 0 0.3rem 0;
        line-height: 1.5em;
    }

    img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        max-height: 100%;
        display: inline-block;

        &:focus {
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            text-align: center;
            width: auto;
            height: auto;
        }

        &[tabindex="0"] {
            cursor: pointer;
        }
    }

    table {
        border-collapse: collapse;
        border: 1px solid var(--bborder);
        margin: 0 auto;
        margin-bottom: 1rem;
        min-width: 90%;

        th, td {
            padding: 5px;
            border: 1px solid var(--bborder);
        }

        th {
            background: var(--thead-bg);
            color: var(--thead-c);
        }

        tr:nth-child(2n) td {
            background: var(--trow-bg);
        }
    }
}