@import "_mixins", "_vars";

article {
    background: $article-background;
    padding: $article-padding;
    margin: 0;

    a {
        color: $article-link-color;
        border-bottom: 1px dotted $article-link-color;
    
        &:hover {
            border-bottom: none;
        }
    }

    p {
        line-height: 1.5em;
    }

    ol, ul {
        margin-left: 30px;
    }

    ul {
        list-style: disc;
    }

    blockquote {
        margin: 10px 0 10px 0;

        p:last-child {
            margin-bottom: 0;
        }
    }

    table {
        border-collapse: collapse;
        border: $article-table-border solid $article-table-border-color;

        th, td {
            padding: 5px;
            border: $article-table-border solid $article-table-border-color;
        }

        tr:nth-child(2n) {
            background: $article-even-background;
        }
    }
}