@import "_mixins", "_vars";

blockquote {
    border: $blockquote-border solid $blockquote-border-color;
    background: $blockquote-background;
    padding: $blockquote-padding;
    @include box-sizing(border-box);
    @include border-radius($blockquote-border-radius);
}
