pre {
	border: 1px solid var(--box-border);
    background: #ccc;
    padding: 1rem;
    box-sizing: border-box;
}

blockquote {
    border: 1px solid var(--box-border);
    background: #ccc;
    padding: 1rem;
    box-sizing: border-box;
}
