

.btn {
    cursor: pointer;
}

button, input[type="submit"], input[type="button"], a.button {
    cursor: pointer;
    display: inline-flex;
    min-width: 70px;
    background: var(--button-colored-background);
    color: var(--text-on-background-color-2);
    margin: 0;
    padding: 0 1rem 0 1rem;
    flex-grow: 0;
    height: 32px;
    border: none;
    box-shadow: none;
    justify-content: center;
    align-items: center;

    &:hover {
        background: var(--button-colored-background-hover);
    }
}

button.save, .button.save {

}

button.cancel, .button.cancel {

}

button.delete, .button.delete {

}

button.ok, .button.ok {

}