.btn, .link, [data-href] {
    cursor: pointer;
}

button, input[type="submit"], input[type="reset"], input[type="button"], label.button, a.button {
    cursor: pointer;
    display: inline-flex;
    min-width: 70px;
    background: var(--btn-c-bg);
    color: var(--txt-on-bg-c-2);
    padding: 0 1rem 0 1rem;
    flex-grow: 0;
    height: 30px;
    //border: none;
    border: 1px solid var(--bborder);
    box-shadow: none;
    justify-content: center;
    align-items: center;
    outline: 0;
    font-family: inherit;
    font-size: .9rem;
    user-select: none;
    font-weight: 100;
    box-sizing: border-box; // very important otherwise a and input will have different heights because one will consider the border part of the height, the other wont

    &::-moz-focus-inner {
        border: 0;
    }

    &:hover {
        background: var(--btn-c-bg-hover);
        color: var(--txt-on-bg-c-2);
    }
}

button.save, .button.save, input[type="submit"].save {
    color: rgba(0, 0, 0, 0.75);
    background: #8fff79;

    &:hover, &:focus {
        background: #a1ffa1;
    }
}

button.cancel, .button.cancel, input[type="submit"].cancel {
    background: #ee5649;

    &:hover, &:focus {
        background: #ff7d79;
    }
}

button.close, .button.close, input[type="submit"].close, input[type="reset"].close {
    color: rgba(0, 0, 0, 0.75);
    background: #ffde5b;

    &:hover, &:focus {
        background: #ffe682;
    }
}

button.disabled, .button.disabled, input[type="submit"].disabled {
    color: rgba(0, 0, 0, 0.5);
    background: #e1e1e1;
    cursor: not-allowed;

    &:hover, &:focus {
        background: #e1e1e1;
    }
}

.link.default {
    color: var(--btn-c-bg);
}

.link.save {
    color: #8fff79;
}

.link.cancel {
    color: #ee5649;
}

.link.close {
    color: #fffc3e;
}

.link.disabled {
    color: #e1e1e1;
}

i.favorite {
    color: #ffd700;
    text-shadow: 0 0 1px #000;
}