.btn, .link, [data-href] {
    cursor: pointer;
}

button, input[type="submit"], input[type="reset"], input[type="button"], label.button, a.button {
    cursor: pointer;
    display: inline-flex;
    min-width: 70px;
    background: var(--btn-bg);
    color: var(--txt-on-bg-c-2);
    padding: 0 1rem 0 1rem;
    flex-grow: 0;
    height: 30px;
    //border: none;
    border: 1px solid var(--bborder);
    box-shadow: none;
    justify-content: center;
    align-items: center;
    outline: 0;
    font-family: inherit;
    font-size: .9rem;
    user-select: none;
    font-weight: 100;
    box-sizing: border-box; // very important otherwise a and input will have different heights because one will consider the border part of the height, the other wont

    &::-moz-focus-inner {
        border: 0;
    }

    &:hover {
        background: var(--btn-bg-hover);
        color: var(--txt-on-bg-c-2);
    }
}

button.save, .button.save, input[type="submit"].save {
    color: var(--save-c);
    background: var(--save-bg);

    &:hover, &:focus {
        background: var(--save-bg-hover);
    }
}

button.cancel, .button.cancel, input[type="submit"].cancel {
    color: var(--cancel-c);
    background: var(--cancel-bg);

    &:hover, &:focus {
        background: var(--cancel-bg-hover);
    }
}

button.close, .button.close, input[type="submit"].close, input[type="reset"].close {
    color: var(--close-c);
    background: var(--close-bg);

    &:hover, &:focus {
        background: var(--close-bg-hover);
    }
}

button.disabled, .button.disabled, input[type="submit"].disabled {
    color: var(--disabled-c);
    background: var(--disabled-bg);
    cursor: not-allowed;

    &:hover, &:focus {
        background: var(--disabled-bg-hover);
    }
}

.link.default {
    color: var(--btn-bg);
}

.link.save {
    color: var(--save-bg);
}

.link.cancel {
    color: var(--cancel-bg);
}

.link.close {
    color: var(--close-bg);
}

.link.disabled {
    color: var(--disabled-bg);
}

i.favorite {
    color: var(--fav-c);
    text-shadow: 0 0 1px var(--text-shadow);
}
