.codeArea {
    background: var(--thead-bg);
    color: var(--thead-c);
    display: inline-block;

    textarea {
        font-size: 15px;
        font-family: monospace;
        line-height: 21px;
        font-weight: 500;
        margin: 0;
        padding: 0;
        white-space: pre;
        overflow: auto;
        border: 0;
    }

    table {
        padding: 0px 0px 0px 0px !important;
        margin: 0px 0px 0px 0px !important;
        font-size: 1px;
        line-height: 0px;
        width: auto;
    }

    td:nth-child(1) {
        border-bottom: 1px solid var(--bborder);
        border-right: 0px;
        vertical-align: top;
        width: 1px;
        background: var(--thead-bg);
    }

    td:nth-child(2) {
        border-bottom: 1px solid var(--bborder);
        border-left: 0px;
        vertical-align: top;
    }

    canvas {
        border: 0px;
        background: var(--thead-bg);
        margin-top: 0px;
        padding-top: 0px;
    }
}
