.highlight-1 {
    background: var(--color-red);
    color: #fff;
}

.highlight-2 {
    background: var(--color-green);
    color: #fff;
}

.highlight-3 {
    background: var(--color-blue);
    color: #fff;
}

.highlight-4 {
    background: var(--color-yellow);
    color: #000;
}

.highlight-5 {
    background: var(--color-purple);
    color: #fff;
}

.highlight-6 {
    background: var(--color-pink);
    color: #fff;
}

.highlight-7 {
    background: var(--color-orange);
    color: #fff;
}