.hl-1 {
    background: var(--red-c) !important;
    color: #fff;
}

.hl-2 {
    background: var(--green-c) !important;
    color: #fff;
}

.hl-3 {
    background: var(--blue-c) !important;
    color: #fff;
}

.hl-4 {
    background: var(--yellow-c) !important;
    color: #000;
}

.hl-5 {
    background: var(--purple-c) !important;
    color: #fff;
}

.hl-6 {
    background: var(--pink-c) !important;
    color: #fff;
}

.hl-7 {
    background: var(--orange-c) !important;
    color: #fff;
}