.hl-1 {
    background: var(--color-red) !important;
    color: #fff;
}

.hl-2 {
    background: var(--color-green) !important;
    color: #fff;
}

.hl-3 {
    background: var(--color-blue) !important;
    color: #fff;
}

.hl-4 {
    background: var(--color-yellow) !important;
    color: #000;
}

.hl-5 {
    background: var(--color-purple) !important;
    color: #fff;
}

.hl-6 {
    background: var(--color-pink) !important;
    color: #fff;
}

.hl-7 {
    background: var(--color-orange) !important;
    color: #fff;
}