.clear {
    clear: both;
}

p {
    margin: 0 0 10px 0;
    line-height: 1.4em;

    span {
        margin: 0;
        padding: 0;
    }

    +p {
        margin-top: 5px;
    }
}

blockquote {
    color: var(--bq-c);
    background: var(--bq-bg);
    border: 1px solid var(--bq-border);
    padding: 1rem;
    border-radius: 5px;
    margin: 1.5rem;

    p:last-child {
        margin-bottom: 0;
    }

    code {
        color: inherit;
        background: inherit;
    }

    a {
        color: inherit;
    }
}

pre, code {
    font-family: var(--ff);
    font-size: .8rem;
    background: var(--code-bg);
    color: var(--code-c);
}

code {
    border-radius: 3px;
    padding: .2rem .4rem .2rem .4rem;
}

pre {
    line-height: 1.2rem;
    border: 1px solid var(--bborder);
    padding: 1rem;
    overflow-x: auto;
    width: 100%;
    box-sizing: border-box;
    white-space: pre-wrap;
    border-left: 3px solid var(--bq-bg);

    code {
        padding: 0;
    }

    > span {
        display: block;

        &:before {
            display: inline-block;
            border-right: 1px solid var(--bborder);
            padding: 0 .5em;
            margin-right: .5em;
            color: #888;
            width: 30px;
        }
    }
}

strong {
    font-weight: 500;
    font-weight: bold;
}

iframe {
    padding: 0;
    margin: 0;
    border: none;
    width: 100%;
}

.clean {
    margin: 0;
    padding: 0;
    border: none;
    outline: 0;
    vertical-align: top;
}

.clean:focus {
    outline: 0;
}

.p,
.max, .min, .close, .cancel, .filter, .ok, .search, .abort, .sort {
    cursor: pointer;
}

.nobreak, .nowrap {
    white-space: nowrap;
}

.center {
    margin: 0 auto;
}

.pAlignTable {
    display: table;
    width: 100%;
}

.vCenterTable {
    display: table-cell;
    vertical-align: middle;
}

.overflowfix {
    overflow: auto;
}

.rp {
    position: relative;
}

.ap {
    position: absolute;
}

.lf {
    float: left;
}

.rf {
    float: right;
}

.op {
    margin: 0 auto;
}

.rT {
    text-align: right;
}

.lT {
    text-align: left;
}

.cT {
    text-align: center;
    justify-content: center;
}

.f-w {
    width: 100%;
    max-width: none;
}

.f-h {
    height: 100%;
    max-height: none;
}

.vT {
    vertical-align: top;
}

.vB {
    vertical-align: bottom;
}

.vM {
    vertical-align: middle;
}

.vC {
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
}

.vh {
    display: none !important;
}

.x-overflow {
    overflow-x: auto;
}
