@import "_mixins", "_vars";

body {
    background: $background-color;
    font-family: Open Sans, sans-serif;
    font-size: 0.9em;
}

.clear {
    clear: both;
}

pre {
    background: #fff;
    @include border-radius(3px);
    border: 1px solid $content-border-color;
    padding: 5px;
    overflow-x: scroll;
    counter-reset: line;
    width: 100%;
    box-sizing: border-box;

    span {
        display: block;

        &:before {
            counter-increment: line;
            content: counter(line);
            display: inline-block;
            border-right: 1px solid #ddd;
            padding: 0 .5em;
            margin-right: .5em;
            color: #888;
            width: 30px;
        }
    }
}

article {
    background: #fff;
    padding: 5px;
    margin: 0;

    p {
        line-height: 1.5em;
    }

    ol, ul {
        margin-left: 30px;
    }

    ul {
        list-style: disc;
    }

    blockquote {
        margin: 10px 0 10px 0;

        p:last-child {
            margin-bottom: 0;
        }
    }

    table {
        border-collapse: collapse;
        border: 1px solid #999;

        th, td {
            padding: 5px;
            border: 1px solid #999;
        }

        tr:nth-child(2n) {
            background: #eee;
        }
    }
}
