@import "_mixins", "_vars";

form {
    li {
        margin: 5px 0 5px 0;
    }

    td {
        white-space: nowrap;
        padding-bottom: 5px;

        textarea+i {
            vertical-align: top;
        }
    }

    label {
        font-size: $form-label-size;
        color: #878787;
        text-shadow: -1px -1px 1px #ffffff;
    }

    i+i {
        margin-left: 3px;
    }

    .layout td+td {
        padding-left: 5px;
    }

    .list {
        font-size: $form-label-size;

        td {
            white-space: nowrap;
            padding: 3px 5px 3px 5px;
        }
    }
}
