form {
    li {
       margin: 5px 0 5px 0;
    }

    td {
        white-space: nowrap;
        padding-bottom: 5px;

        textarea+i {
            vertical-align: top;
        }
    }

    label {
        font-size: .9rem;
        color: var(--default-c);
    }

    i+i {
        margin-left: 3px;
    }

    .layout td+td {
        padding-left: 5px;
    }

    .list {
        font-size: 1rem;

        td {
            white-space: nowrap;
            padding: 3px 5px 3px 5px;
        }
    }
}
