

.infoIcon {
    width: var(--badge-size);
    text-align: center;
    vertical-align: middle;
    position: relative;
    cursor: pointer;

    span {
        font-size: .55rem;
        display: block;
        position: absolute;
        right: -.55rem;
        top: -.45rem;
        width: .9rem;
        height: var(--badge-size);
        line-height: var(--badge-size);
        border-radius: 50%;
        text-align: center;
        padding: .15rem;

        color: var(--badge-color);
        background: var(--badge-background);
    }
}

