@import "_mixins", "_vars";

.infoIcon {
    width: $icon-font-size;
    text-align: center;
    vertical-align: middle;
    position: relative;
    cursor: pointer;

    span {
        font-size: .55rem;
        display: block;
        position: absolute;
        right: -.55rem;
        top: -.45rem;
        width: $icon-font-size;
        height: $icon-font-size;
        line-height: $icon-font-size;
        border-radius: 50%;
        text-align: center;

        color: $icon-font-color;
        background: rgba(209, 96, 89, 1);
    }
}

