

img {
    &.frame-1 {
        padding: 1rem;
        background: #fff;
        border: 1px solid var(--box-border);
        box-sizing: border-box;
        width: 100%;
    }

    &.frame-2 {
        border: 1px solid var(--box-border);
        background: #fff;
        box-sizing: border-box;
        width: 100%;
    }

    &.rounded {
        border-radius: 50%;
        background: #fff;
    }

    &.bordered {
        border: 1px solid var(--box-border);;
    }
}