.ipt-wrap {
    display: table;
    vertical-align: top;
    box-sizing: border-box;

    .ipt-first {
        width: 100%;
        display: table-cell;
        vertical-align: inherit;
    }

    .ipt-second {
        padding-left: 5px;
        display: table-cell;
        vertical-align: inherit;
    }
}

.flex-line {
    display: flex;
    flex-direction: row;

    div {
        flex: 1;

        &:nth-child(n+1) {
            padding-left: 5px;
        }
    }
}

div.sticky, section.sticky {
    position: sticky;
    top: 1rem;
}

.inline {
    display: inline;
}