.unseen {
    font-weight: bold;
}

[data-href] {
    cursor: pointer;
}

.portlet-body a:not(.button), a.content, a .content {
    color: var(--link-color);
    border-bottom: 1px dotted var(--link-color);

    &:hover {
        border-bottom: none;
    }
}
