.unseen {
    font-weight: bold;
}

.portlet-body a:not(.button), a.content, a .content {
    color: var(--link-c);
    border-bottom: 1px dotted var(--link-c);

    &:hover {
        border-bottom: 1px dotted transparent ;
    }
}
