@import "_mixins", "_vars";

ul.boxed {
    background: $list-background;
    padding: $list-padding;
    @include border-radius($list-border-radius);
    border: $list-border solid $list-border-color;

    li {
        margin: 5px 0 5px 0;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

ul.h-list li {
    display: inline-block;
    margin: 5px 10px 5px 10px;
}
