@import "mixin", "color";

ul.default li {
  margin: 5px 0 5px 0;

  &:first-child {
    margin: 0 0 5px 0;
  }

  &:last-child {
    margin: 5px 0 0 0;
  }
}

ul.boxed {
  background: #fff;
  padding: 5px;
  @include border-radius(3px);
  border: 1px solid $content-border-color;
}

ul.boxed li {
  margin: 5px 0 5px 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}