.context-menu {
    position: absolute;
    background: #fff;
    border: 1px solid #ccc;
    z-index: 1000; // Table headers are sticky which has a z-index of 999. The menu should be above

    label {
        padding: .5rem;
        width: 100%;
        box-sizing: border-box;
    }

    label:hover {
        background: var(--table-row-background-hover);
    }
}