.ctx-menu {
    position: absolute;
    background: var(--box-bg);
    border: 1px solid var(--bborder);
    z-index: 1000; // Table headers are sticky which has a z-index of 999. The menu should be above

    label {
        padding: .5rem;
        width: 100%;
        box-sizing: border-box;

        &:hover {
            background: var(--trow-bg-hover);
        }
    }
}