@import "_mixins", "_vars";

.pagination {
    li {
        display: inline;
    }

    a {
        @include border-radius(3px);
        @include box-shadow-out(#ffffff);
        background: $content-background-color;
        padding: 5px 10px 5px 10px;
    }

    .active, a:hover, a:active {
        color: $pagination-active-color;
        background: $pagination-active-background;
        @include box-shadow-out(#e8e8e8);
    }
}
