.pagination {
    li, a {
        display: inline-block;
    }

    li+li {
        margin-left: .5rem;
    }

    a {
        border-radius: 3px;
        background: #ccc;
        padding: 5px 10px 5px 10px;
    }

    .active, a:hover, a:active {
        color: #000;
        background: #fff;
    }
}
