
.emptyPage {
    width: 80%;
    font-size: 15rem;
    margin: 0 auto;
    margin: 5rem;
    padding: 3rem;
    text-align: center;
    border: 1rem solid rgba(0, 0, 0, 0.1);

    &:before {
        font-family: 'FontAwesome', serif;
        content: '\f03a';
        color: rgba(0, 0, 0, 0.1);
    }
}

.box {
    box-sizing: border-box;
    margin-top: 1rem;
    overflow-x: auto;

    .inner {
        box-sizing: border-box;
        padding: 10px;
    }
}

.box-container {
    display: inline-block;
}

section.box {
    background: #fff;
    box-shadow: 0 0 3px 1px rgba(90, 71, 114, 0.3);
}

section {
    header {
        > h1 {
            margin: 10px 10px 0 10px;
            padding-bottom: 5px;
            font-size: 1.1em;
            border-bottom: 1px solid #e1e1e1;
        }
    }

    > h2 {
        box-sizing: border-box;
        font-size: 1.2em;
        margin-bottom: 5px;
    }
}

.pagebreak {
    display: none;
}

@media print {
    .pagebreak {
        page-break-after: always;
        display: block;
    }
}