
.emptyPage {
    width: 80%;
    font-size: 15rem;
    margin: 0 auto;
    margin-top: 3rem;
    text-align: center;
    border: 5px solid var(--bborder);

    &:before {
        font-family: 'Material Symbols Outlined', serif;
        content: 'question_mark';
        color: rgba(0, 0, 0, 0.1);
    }
}

.box {
    box-sizing: border-box;
    margin-top: 1rem;
    overflow-x: auto;

    .inner {
        box-sizing: border-box;
        padding: 10px;
    }
}

.box-container {
    display: inline-block;
}

section {
    header {
        > h1 {
            margin: 10px 10px 0 10px;
            padding-bottom: 5px;
            font-size: 1.1em;
            border-bottom: 1px solid var(--bborder2);
        }
    }

    > h2 {
        box-sizing: border-box;
        font-size: 1.2em;
        margin-bottom: 5px;
    }

    &.box {
        background: var(--box-bg);
        //box-shadow: 0 0 3px 1px rgba(90, 71, 114, 0.3);
        border: 1px solid var(--bborder);
    }
}

.pagebreak {
    display: none;
}
