.wf-100 {
    width: 100%;
}

.wf-80 {
    width: 80%;
}

.wf-20 {
    width: 20%;
}

.wf-50 {
    width: 50%;
}

.wf-33 {
    width: 33.33%;
}

.wf-25 {
    width: 25%;
}

.wf-75 {
    width: 75%;
}

.wf-66 {
    width: 66.66%;
}

.spacer {
    padding: 5px;
}

.resizable {
    resize: both;
    overflow: auto;
}
