.tabview {
    .tab-links {
        color: #000;
        padding: 0.3rem 0 0 0;

        label {
            font-size: 0.9em;
            cursor: pointer;

            &:hover {
                color: var(--text-on-background-color-2);
                background: var(--button-colored-background-hover);
            }
        }

        .active label:hover {
            color: var(--text-on-background-color-2);
            background: var(--button-colored-background-hover);
        }

        .active a {
            cursor: default;
        }

        li {
            display: inline-block;
        }
    }

    .tab-content {
        > input {
            display: none;
        }

        > input + div {
            display: none;
        }

        > input:checked + div {
            display: inherit;
        }
    }
}

.tab-1 {
    .tab-links {
        margin: 0;
        border-bottom: 1px solid var(--box-border);

        label {
            padding: 5px 10px 1px 10px;
            background: none;
            overflow: auto;
        }

        .active, .active label {
            background: var(--button-colored-background);
            border-bottom: 1px solid var(--button-colored-background);
        }

        .active label {
            border-top: 1px solid var(--box-border);
            border-left: 1px solid var(--box-border);
            border-right: 1px solid var(--box-border);
        }

        li {
            margin: 0 5px 0 0;
        }
    }

    .tab-content {
        box-sizing: border-box;
        background: var(--button-colored-background);
        border-left: 1px solid var(--box-border);
        border-right: 1px solid var(--box-border);
        border-bottom: 1px solid var(--box-border);

        padding: 10px;
    }

    &.left {
        display: flex;

        .tab-links {
            margin: 0;
            border: none;

            li {
                display: block;
                margin-bottom: 20px;
            }

            label {
                padding-bottom: 5px;
            }

            .active label {
                border-bottom: 1px solid var(--box-border);
            }
        }

        .tab-content {
            width: 100%;
            border-top: 1px solid var(--box-border);
        }
    }
}

.tab-2 {
    .tab-links {
        label {
            padding: 5px 10px 5px 10px;
            border: 1px solid transparent; // fixes jumping text for active and non-active labels
        }

        li {
            margin: 0 5px 15px 0;
        }

        .active a, .active label {
            color: var(--text-on-background-color-2);
            border: 1px solid var(--box-border);
            background: var(--button-colored-background)
        }
    }
}
