@import "_mixin", "color";

table.table {
    @include box-sizing(border-box);
    width: 100%;
    font-size: 0.9em;
    display: table;

    caption {
        @include box-shadow-top(#ffffff);
        background: $content-background-color;
        border-right: 1px solid $content-border-color;
        border-left: 1px solid $content-border-color;
        border-top: 1px solid $content-border-color;

        padding: 5px;
    }

    td {
        padding: 5px 10px 5px 10px;
        white-space: nowrap;
    }

    tbody {
        td:first-child {
            border-left: 1px solid $content-border-color;
        }

        td:last-child {
            border-right: 1px solid $content-border-color;
        }

        td {
            border-top: 1px solid $content-border-color;
            @include box-shadow-top(#ffffff);
        }

        tr {
            &:nth-of-type(2n) {
                background: #f9f9ff;
            }

            &:nth-of-type(2n+1) {
                background: #f9fdff;
            }

            &:hover {
                background: $content-background-color;
            }
        }

        a {
            display: block;
        }

        tr:last-child td {
            border-bottom: 1px solid $content-border-color;
        }
    }

    thead {
        background: $content-background-color;

        td:first-child {
            border-left: 1px solid $content-border-color;
        }

        td:last-child {
            border-right: 1px solid $content-border-color;
        }
    }

    .empty {
        text-align: center;
        color: #d8d8d8;
    }

    tfoot {
        label {
            float: left;
        }

        select {
            width: auto;
            float: right;
            margin: 0;
            min-width: 0px;
        }

        td {
            text-align: center;
            padding-top: 10px;
        }
    }
}

table.list {
    th {
        text-align: left;
    }

    td {
        padding: 2px 5px 2px 5px;
    }
}

@media screen and (max-width: 600px) {
    table.table {
        border: 0;
        width: 100%;
    }

    table.table thead {
        display: none;
    }

    table.table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    table.table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    table.table td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table.table td:last-child {
        border-bottom: 0;
    }
}