@import "_mixins", "_vars";

.tag {
    cursor: pointer;
    border: $tag-border solid $tag-border-color;
    padding: 5px 10px 5px 10px;
    font-size: $tag-font-size;
    color: $tag-color;
    display: inline-block;
    line-height: 1rem;
}
