.tooltip {
    cursor: pointer;
    color: var(--box-highlight);
    font-size: .9rem;

    &:hover {
        position: relative;

        &:after, &:before {
            font-size: .9rem;
            display: block;
            position: absolute;

            white-space: nowrap;
            bottom: 100%;
            margin-bottom: 5px;
            padding: 7px;
            border-radius: 3px;
            background-color: rgb(71, 71, 71);
            color: #fff;
            content: attr(data-tooltip);
            text-align: center;
            transform: translate(-50%, 0);
        }
    }
}